* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(45, 41, 95);
    color: white;
}

.navbar {
    height: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.ul-navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.li-navbar {
    list-style: none;
    padding: 50px;
}

.a-navbar {
    color: white;
    text-decoration: none;
}

.a-navbar:hover {
    transition: 0.2s 0.2s ease-in-out;
    font-size: 18px;
    color: rgb(231, 101, 101);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.well-content {
    color: rgb(231, 101, 101);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.nama-content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parag-content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-content {
    height: 400px;
    width: 400px;
}